.perguntas {
    width: 100vw;
    height: 100vh;
    background-color: #0154A6;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family:'Times New Roman', Times, serif;
}

.botoes {
    width: 50%; 
    
    padding: 10px;
    margin-top: 2rem;

    display: flex;
    justify-content: space-between;
}

.botao {
    border: none;
    border-radius: 20px;

    padding: 1rem;
    font-size: 1.05rem;

    cursor: pointer;
}

.botao:first-of-type {
    background-color: #e23d8d;
    color: #fefefe;
}

.botao:last-of-type {
    background-color: #2de023;
    color: #fefefe;
}