.pergunta {
    border: 1px solid #D5F0F9;
    border-radius: 30px;
    
    min-height: 50vh;
    width: 50vw;

    background-color: #fff;
    position: relative;


    display: flex;
    flex-direction: column;
}

.numeroDoSlide {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);

    font-size: 2rem;

    background-color: #D5F0F9;
    border: 3px solid #D5F0F9;
    border-radius: 50%;

    padding: 20px;
    
    aspect-ratio: 1/1;
    z-index: 5;
}

.pergunta_titulo {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 40%;
    font-size: 24px;

    background-image: linear-gradient(#CEC3F5, #D5F0F9);
}
/* #CEC3F5 */
/* #D5F0F9 */

.opcoes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    flex-grow: 1;
}

.opcao {
    border: 1px solid #D5F0F9;
    border-radius: 20px;

    width: 90%;
    padding: 15px;
    font-size: 18px;
    font-weight: 500;

    display: flex;
    align-items: center;

    cursor: pointer;
}

.opcao input {
    display: none;
}